<!--@subject Conta confirmada para {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"var customer.email":"Customer Email",
"store url=\"customer/account/confirm/\" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url":"Confirmation Url",
"htmlescape var=$customer.password":"Customer password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Caro(a) {{htmlescape var=$customer.name}}</strong>, <br/> Seja muito bem vindo(a) &agrave; {{var store.getFrontendName()}}.</p>

                            <p>Seu e-mail {{var customer.email}} deve ser confirmado antes de efetuar login na loja.</p>

                            <p>Para confirmar o e-mail e automaticamente entrar na sua conta, clique <a href="{{store url="customer/account/confirm/" _query_id=$customer.id _query_key=$customer.confirmation _query_back_url=$back_url}}" style="color:#1E7EC8;">neste link de confirma&ccedil;&atilde;o</a>. A valida&ccedil;&atilde;o ocorre apenas uma vez.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Utilize as seguintes informa&ccedil;&otilde;es de acesso:<br/>
                                E-mail: {{var customer.email}}<br/>
                                Senha: {{htmlescape var=$customer.password}}<p>

                            <p>Se voc&ecirc; tiver alguma d&uacute;vida sobre sua conta ou qualquer outra informa&ccedil;&atilde;o do site, por favor, n&atilde;o deixe de entrar em contato <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou por telefone {{config path='general/store_information/phone'}}.</p>
                            <p>Obrigado!</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>